[core]
	excludesfile = ~/.gitignore
	editor = nvim
  ignorecase = false

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[user]
	name = Pedro La Rosa D.
	email = pedrolarosad@gmail.com

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto

[push]
	autoSetupRemote = true
	followTags = true
  default = simple

[init]
	defaultBranch = main

[github]
	user = luigi055

[diff]
  tool = nvimdiff

[merge]
  tool = vimdiff
  conflictstyle = zdiff3

[difftool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
